


<div class="header">
    <div class="logoNavi">
        <div class="mobileLogo">
            <a href="JavaScript:void(0)"><img src="assets/images/mobileLogo.png" alt="" /></a>
        </div>
        <div class="mobileToggle">
            <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <nav id="" class="mobileMenu">
        <ul class="list-unstyled components" id="mySidenav">
            <li><a href="JavaScript:void(0)">About us <span rel="About us"></span></a></li>
            <li><a href="JavaScript:void(0)">Work <span rel="Work"></span></a></li>
            <li><a href="JavaScript:void(0)">Services <span rel="Services"></span></a></li>
            <li><a href="JavaScript:void(0)">Blog <span rel="Blog"></span></a></li>
            <li><a href="JavaScript:void(0)">Research <span rel="Research"></span></a></li>
            <li><a href="JavaScript:void(0)">Careers <span rel="Careers"></span></a></li>
            <li><a href="JavaScript:void(0)">Contact us <span rel="Contact us"></span></a></li>
        </ul>
    </nav>
    </div>
</div>
